body{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(0,0,0,0.75), rgb(0,0,0,0.75)),url(kepek/tesztkep.jpg);
    background-size: cover; 
    background-position: center;
}
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(0,0,0,0.75), rgb(0,0,0,0.75)),url(kepek/tesztkep.jpg);
    background-size: cover; 
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom:-10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
body{
    font-family: arial;
}
.main{
    margin: 2%;
}   
.card{
    width: 20%;
    display: inline-block;
    box-shadow: 2px 2px 20px #009688;
    border-radius: 5px; 
    margin: 2%;
    overflow: hidden;
    height: 350px;
    }   
.image img{
    width: 100% ;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: auto;
}

.title{
    text-align: center;
    padding: 10px;
}
h5{
    font-size: 20px;
}
.des{
    padding: 3px;
    text-align: center;
    padding-top: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 2px 2px 20px blue;
}
p{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}